<header>
    <nav class="navbar navbar-light bg-secondary bg-gradient" aria-label="Main navigation">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-white">UserAdminHub</span>
        </div>
    </nav>
</header>
