

    <link rel="stylesheet" href="/CSS/userhome.css">
     
      <% if (user) { %>
        <h3>Welcome to UserAdminHub, <%= user.name %></h3>
      <% } else { %>
        <h1>Welcome, guest!</h1>
      <% } %>
      <div class="h-100">
        <h4 class="mb-4">Welcome to UserAdminHub</h4>
          <p class="small mb-0">At UserAdminHub, we go beyond just managing data. Our platform is designed to provide a secure, intuitive, and user-friendly experience. From seamless login and signup processes to comprehensive user data management, we've built a system that adapts to your needs. Whether you're accessing your personalized dashboard or managing user information, UserAdminHub ensures that every interaction is smooth, efficient, and reliable.</p>

      </div>
      <form class="d-flex h-100 ms-0" action="/logout" method="post">
        
        <button class="btn btn-outline-success" type="submit">Logout</button>
      </form>

  

  <!-- Slideshow -->
  
          
       
   